
body {

}

header {
  padding: 10px;
}

.jumbotron {
  display: flex;
  align-items: center;
  color: black;
  background-color: black;
  text-align: center;
  height: 200px;
}

.jumbotron h1 {
  font-family: 'Astloch', cursive;
  font-weight: 700;
  font-size: 100px;
  color: white;
}

h2 {
  font-family: 'Astloch', cursive;
  font-weight: 700;
  font-color: #FFC65A;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-color: black;
  text-align: left;
}
