
body {
  background-color: #FFC65A;
}

header {
  padding: 10px;
}

h2 {
  font-family: 'Astloch', cursive;
  font-weight: 700;
  font-color: white;
  text-align: right;
  font-size: 60px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-color: black;
  text-align: right;
}

.container {
  display: block;
}

.jumbotron {
  display: flex;
  align-items: center;
  color: black;
  background-color: black;
  text-align: center;
  height: 200px;
}

.jumbotron h1 {
  font-family: 'Astloch', cursive;
  font-weight: 700;
  font-size: 100px;
  color: white;
}

.jumbotron p {
  color: white;
}

img {
  max-width: 100%;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

ul {
  display: block;
  align-items: flex-end;
  list-style: none;
}

#openingLine {
  align-items: flex-end;
  font-size: 40;
  color: white;
  font-weight: 700;
}
