
body {
  background-color: #FFC65A;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: black;
  text-align: center;
  height: 220px;
  width: 100%;
}

section {
  margin: 20px;
}

h2 {
  margin: 15px;
  font-family: 'Astloch', cursive;
  font-weight: 700;
  color: white;
  text-align: right;
  font-size: 60px;
}

p {
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;
  text-align: right;
}

.container {
  display: block;
}

.jumbotron {
  margin: 0px;
  padding: 15px;
  display: block;
  background-image: url(https://www.maxpixel.net/static/photo/2x/Halloween-Pumpkin-Party-Scary-Fun-Festivity-4597886.jpg);
  background-size: cover;
  height: 500px;
  align-items: end;
}

header h1 {
  font-family: 'Astloch', cursive;
  font-weight: 700;
  font-size: 100px;
  color: white;
}

header p {
  color: white;
}

img {
  width: 100%;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

ul {
  display: block;
  align-items: flex-end;
  list-style: none;
}

#openingLine p {
  text-align: left;
  font-size: 35px;
  color: white;
  vertical-align: center;
}

.jumbotron p {
  color: white;
}
